
*{
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}
html
{
scroll-behavior:smooth;
}
body{
    margin:0;
    font-family:Georgia, 'Times New Roman', sans-serif;
    
    /* text-align: center; */
}


img{
    max-width: 100%;
    height: auto;
}

.container{
    width: 95%;
    margin: 0 auto;
    max-width: 70em;
}

.clearfix::after, 
section::after,
footer::after{
    content: "";
    display: block;
    clear: both;

}



/* typography */
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption{
   bottom: 220px;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: merienda;
    color:#000;
    font-weight: 900;
    text-decoration: underline #fff;

}



.carousel-caption p{
    width: 50%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-family: poppins;
    color: #fff;
    font-weight: 900;
    justify-content: center;
} 



.carousel-caption a{
    text-align: center;
    text-transform: uppercase;
    background:#5C755E;
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    margin-top:15px;
}

@media only screen and (max-width: 767px){
.carousel-caption h5{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: merienda;
    color:#000;
    font-weight: 900;

}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 10px;
    line-height: 1.9;
    font-family: poppins;
    color:#fff;
    font-weight: 900;
    justify-content: center;
    
} 



.carousel-caption a{
    text-transform: uppercase;
    background:#5C755E;
    padding: 5px 15px;
    display: inline-block;
    color:  #000;
    margin-top:15px;
    text-align: center;
}
}

.carousel-indicator li{
    position: relative;
}

@media only screen and (max-width: 767px) {
    .carousel-item{
        height:500px;
        width: cover;
    }
}

/*nav bar*/

.navbar-nav a{
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-brand{
    color:#fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
    color:#fff;
}

.navbar-light .navbar-nav .nav-link{
    color: #000;
}
.navbar-nav{
    text-align: center;
}

.nav-link{
    padding: .2rem 1rem;
}

.navbar-light .navbar-nav .nav-link: focus, .navbar-light .navbar-nav .nav-link: hover {
    color: #fff !important;
}

.w-100 {
    height: 100vh;
}

@media only screen and (max-width: 767px) {
    .navbar-nav.ml-auto{
        background: rgba(0,0,0,0.5);
    }



    .navbar-toggler{
        padding: 1px 5px;
        font-size:18px;
        line-height: 0.3;
        background:#5C755E;

    }
    .navbar-light .navbar-nav .nav-link{
    color: #fff;
}
.logo{
    height: 80px;
    width: 150px;
}
}

        {padding-top: 70px;
    } 
/* typography */

h1{
    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 0;
}

p{
    margin-top: 0;
    line-height: 1.5;
    text-align: left;

}

p:last-of-type{
    margin-bottom: 0;
}
.title{
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 1em;

}
.title span{
    font-weight: 300;
    display: block;
    font-size: .9em;
}

.title-cta {
    margin:0 0 .5em;
font-size: 20px;
text-align: center;

}

.title-cta h3{
    font-size: 10px;

}

.unstyled-list{
    margin: 0;
    padding: 0;
    list-style-type: none ;
}
@media(min-width: 60rem){
.title{
    
}
}

/*buttons*/

.button{
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}


@media(min-width:60rem){
    
    .button{
        font-size:1.5rem;
        
    }

}

.button-accent{
color:#000;
border-color:#000 ;
text-align: center;
margin: auto;
position: fixed;

}
.button-accent:hover,
.button-accent:focus{
    background:#00ffcc;
    color: #232323;
}

.button-small{
    font-size: .7rem;
    font-weight: 700;

    
}




/*header */

header{
    
    position: absolute;
    margin: 1em;
    left: 0;
    right: 0;

}

/* Home-about */
.home-about-textbox{
    background-color: #232323 ;
    padding: 4em;
    padding-top: 6em;
    width: 100vw;
    margin-left: -2.5% ;
    outline: 2px solid #00ffcc;
    outline-offset: -2.5em;
    color: white ;
    position: relative;
}

.home-about-textbox h1{
    color: aqua;
    position: absolute;
    top: .75em;
    left:50%;
    transform: translateX(-50%);
    background: #232323; 
    padding: 0 .145em;
}


@media(min-width:25rem){

    h1{
        font-size: 2rem;
    }

    
       
.home-about-textbox h1{
        top:.6em;
        padding: 0 0.325em;

    }

}

@media(min-width:60rem){

    h1{
        font-size: 2.5rem;
    }

    .Home-about{
        background-image: url(../images/smile\ use.jpeg);
        background-repeat: no-repeat;
        padding: 5em;
        padding-bottom: 10em;
        background-position: center left bottom;
    }

    .home-about-textbox{
        
        
        width: 60%;
        margin-left: -2.5% ;
        top: -5em;
    
    }
.home-about-textbox h1{
        top:.3em;
        padding: 0 0.6em;

    }

}



#what-we{
    background:#11705d !important;
    


}

#what-we h1{
    text-align: center;
    margin: 50px auto 120px !important;
    color: #fff;
    padding-bottom: 25px;

}

.main{
    width: 100%;
    min-height: 380px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.service{
    background: #fff;
    padding: 30px;
    border-radius:10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
   box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s; 
}

.service-logo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #fff;
    border: 18px solid #11705d;
}
.service-logo img{
    width: 50px;
    margin-top: 20px;
   transition: transform 1s;
}
.service h4{
    height: 35px;
    width: 80%;
    background: #fff;
    margin: 50px auto;
    position: relative;

}
.service h4::after{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #fff, #11705d);
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}
.service h4::before{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right,#11705d, #fff);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

.shadowOne{
    height: 200px;
    width: 80%;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;
}
.shadowTwo{
    height: 200px;
    width: 64%;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;

}
.main:hover .service{
transform: translateY(-50px);
}
.main:hover .shadowOne{
transform: translateY(-25px);
}

.main:hover .service-logo img{
transform: rotate(360deg);
}



  

/*About*/



#About-me{
    margin: 10px;
  padding-top:30px;
   padding-bottom:40px;
    background: #fff;
    height: auto;
}
.fa-instagram{
    font-size:100px;
}
#About-me .p-first{

    margin-bottom: 30px;
    color: #000;

}
#About-me .text-white{
    color: #000;
}

#About-me h2{
    margin-bottom:47px;
    margin-top: 12px;
    padding-top: 3px;
    color: #fff;
    text-align: center;
    font-family: merienda;
    border: 1px solid #00ffcc;
   background: #11705d; 
}

#About-me .social-link-text{
    margin-top: 50px;
    margin-bottom: 25px;

}

#About-me .about-link{
    padding-left:0px;
}

#About-me .about-link li{

    display: inline-block;

}

#About-me .about-link li a i{
   width: 50px;
   height: 50px;
   border-radius:50%;
   line-height: 50px;
   text-align:center;
   border: 1px solid #d6c6b2;
   margin-right: 10px;
   font-size: 22px;
   color:#000;
   transition: all.3s;
}

#About-me .about-link li a i:hover{
    color: #222222;
    background: #d6c6b2;
    border-color:#d6c6b2;
}

#About-me.lead{
    color:#fff;
}


#About .color-3{
color:#fff;


}

.text-white {
    color: white;
}
#About p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
}

.btn-danger {
    border-radius:0;
    padding: 10px 20px;

}
#About.Me{
    border-radius: 80%
    
}

/* cta*/

.cta{
    margin-top:4px;
    background-color:#11705d;
    margin-bottom: 4px;
padding: 0;
color: rgb(0,0,0,0.8);


}

/*portfolio*/
#slider{
    overflow: hidden;

}
#portfolio h2{
    text-align: center;
    font-weight: 900;
    padding: 10px;
}

#slider figure{
    position: relative;
    width:  500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    

}
#slider figure img{
    float: left;
    width: 20%;

}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75% {
        left: -300%;
    }
    90%{
        left:-300%
    }

    100%{
        left: -400%;
    }
}


/*footer*/
*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
   
   

}

#contact-section{
    
    box-sizing: border-box;
    
    
}
    
.contact-container{
    width: 100%;
    margin: auto;
    overflow: hidden;
     background-color:#232323;
}


#contact-section .contact-container h2{
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    color: rgb(238,235,235);
    letter-spacing: 2px;

}

#contact-section .contact-container p{
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    color: #fff;
    letter-spacing: 3px;
}

.contact-form i.fa{
    font-size:  15px;
    padding: 0.5%;
    
    border-radius: 80%;
    margin: 2%;
    cursor: pointer;
    border: 2px solid rgb(190,190,190);
    color: rgb(190,190,190);
    
    
}

.contact-form i. fa: hover{
    cursor: pointer;
    border: 2px  #fff solid;
    color:#fff;
}

.first-col{
    width: 50%;
    float: left;
}

.second-col{
width: 50%;
float: left;
}


.form-info{
    font-size: 16px;
    font-style: italic;
    color:#fff;
    letter-spacing: 2px;
    
    padding: 0;
   
     


}

input{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgb(136,133,133,0.5);
    color: #fff;
    border: none;
    outline: none;
}

input::placeholder{
    color: #fff;

}

textarea{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgb(136,133,133,0.5);
    color: #fff;
    border: none;
    outline: none;
}

textarea::placeholder{
    color: #fff;

}
:-ms-input-placeholder{
    color: #a9a9a9;
}
::-ms-input-placeholder{
    color: #a9a9a9;
}
:-moz-placeholder,
::-moz-placeholder{
    color: #606060;/*-> #a9a9a9 on display*/
    opacity: 1;
}
.submit{
width: 20%;
background: none;
padding: 4px;
outline: none;
font-size: 13px;
font-weight: bold;
letter-spacing: 2px;
height: 33px;
text-align: center;
cursor: pointer;
margin-left:calc(50% + 10px);
border: 2px solid rgb(190,190,190);
color:rgb(190,190,190)

}

.submit:hover{
    border: 1px solid #fff;
    color:#00ffcc;
    cursor: pointer;
}

@media(max-width:768px){
    #contact-section.contact-form{
        display: block;
        width: 100%;
        text-align: center;
    }
    #contact-section.submit{
        width: 60%;
    }

    .first-col{
    width: 100%;
    float: left;
}

.second-col{
width: 100%;
float: left;
}

}

.main-footer{
    width: 100%;
    
    background: #11705d;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.main-footer p{
    text-align: center;
}

